<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android_app">

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/interactive_icon"
        android:label="Noratap 744"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".AR_Marker_detect" android:screenOrientation="landscape" android:launchMode="singleTask"/>
        <activity android:name=".Manual_shoting" android:screenOrientation="landscape" android:launchMode="singleTask"/>
        <activity android:name=".Interaction_control" android:screenOrientation="landscape" android:launchMode="singleTask"/>
        <activity android:name=".Manual_control" android:screenOrientation="landscape" android:launchMode="singleTask"/>
        <activity android:name=".MainActivity" android:screenOrientation="landscape" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>